Results for <%= @request.formatted_address -%>
<ol>
<% @theaters.each do |theater| %>
  <li><%= link_to "#{theater.name} (#{theater.rating} stars)", theater %></li>
  <ul>
    <% theater.movies.uniq.each do |movie| %>
      <li><%= "#{movie.tomatometer}% - #{movie.title} - #{movie.description}" %>
      <ul>
      <% movie.showtimes.each do |showtime| %>
        <% next if showtime.theater != theater %>
        <li><%= link_to "#{showtime.time}", "#{showtime.fandango_url}"%> - <%= showtime.fandango_url %></li>
      <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>
</ol>