Results for <%= @request.formatted_address -%>
<ol>
<% @theaters.each do |theater| %>
  <li><%= link_to "#{theater.name} (#{theater.rating} stars)", theater %></li>
  <ul>
    <% theater.top_movies.each do |movie| %>
      <li><%= "#{movie.tomatometer}% - #{movie.title} - #{movie.description}" %>
      <ul>
      <% movie.showtimes.each do |showtime| %>
        <% next if showtime.theater != theater %>
        <li><%= "#{showtime.time}" %>
          <% if showtime.fandango_url %>
            - <%= link_to "Fandango", showtime.fandango_url%>
          <% end %>
       </li>
      <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>
</ol>